.idea/
css/all.css
data/
js/all.js
js/all.js.tar.bz2
js/all.js.zip
emoji/apple/*.png
emoji/facebook/*.png
emoji/google/*.png
emoji/messenger/*.png
emoji/one/*.png
emoji/samsung/*.png
emoji/twitter/*.png
emoji/windows/*.png
screendumps/*.png
